@using HomeControl.Models.BaseClasses
@using HomeControl.Models.Intefaces.Devices

@helper ShowDevice(BaseDevice device)
{
    <ul>
        <li>Device Id: @device.Id</li>
        <li>Type: @device.Type</li>
    </ul>
    <p>@SwitchDevice(device.IsOn, device.Id)</p>
    if (device is ISelectable)
    {
        ISelectable d = device as ISelectable;
        <p>@SelectChannel(d.Channels, device.Id)</p>
    }
    
    if (device is IVisible)
    {
        IVisible d = device as IVisible;
        <p>Video : @d.VideoSignal</p>
    }

    if (device is ISoundable)
    {
        ISoundable d = device as ISoundable;
        <p>Sound : @d.SoundSignal</p>
        <p>Volume: @d.Volume</p>
        <p>@SetVolume(device.Id)</p>
    }

    if (device is IThermalControllable)
    {
        IThermalControllable d = device as IThermalControllable;
        <p>Current Temperature : @d.CurrentTemperature</p>
        <p>@SetTempearture(device.Id)</p>
    }

    <p><a href="Home/Delete/@device.Id">Delete</a></p>
    <hr>
}

@helper SelectChannel(IEnumerable<string> channels, int id)
{
   <form action="Home/SelectChannel" method="post">
       <select name="channel" onchange="this.form.submit()">
           <option disabled selected>Select a channel</option>
           @foreach (string channel in channels)
           {
               <option>@channel</option>
           }
       </select>
       <input type="hidden" name="id" value="@id"/>
   </form>
}

@helper SetVolume(int id)
{
    <form action="Home/SetVolume" method="post">
        <input name="volume" type="text" placeholder="Volume">
        <input type="hidden" name="id" value="@id" />
        <input type="submit" value="Set Volume" />
    </form>
}

@helper SetTempearture(int id)
{
    <form action="Home/SetTemperature" method="post">
        <input name="temperature" type="text" placeholder="Temperature">
        <input type="hidden" name="id" value="@id" />
        <input type="submit" value="Set Temperature" />
    </form>
}

@helper SwitchDevice(bool isOn, int id)
{
    <form action="Home/SwitchDevice" method="post">
        @if (isOn)
        {
            <input type="button" value="OFF" onclick="this.form.submit()">
        }
        else
        {
            <input type="button" value="ON" onclick="this.form.submit()">
        }
        <input type="hidden" name="id" value="@id" />
    </form>
}